{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <title>UNIr-se | Criar Carona </title>

    
    <div class="card w-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Criando sua Carona</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Aqui você preenche os dados da sua carona</h6>
            <div id="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="card">
                            <h4>Criar um Deslocamento</h4>
                            <div class="card-body">
                            {{ form|crispy }}
                            </div>
                        </div>
                        <button class='btn btn-primary' type="submit" style="margin-top: 10px">Salvar deslocamentos</button>
                        <hr>
                    {% endfor %}
                </form>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info"> Criar </button>
            </form>
        </div>
    </div>
{% endblock %}