{% extends 'header.html' %}
{% load static %}
{% block content %}

    {% for carona in caronas %}
        <div id="{{ carona.id }}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'diogo.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Carona do {{ carona.motorista.nome }}</h5>
                            <p class="card-text" style="margin-bottom: 0">
                                Curso: {{ carona.motorista.curso }} {{ carona.motorista.semestre_atual }}</p>
                            <p class="card-text" style="margin-bottom: 0">
                                Automóvel: {{ carona.motorista.automovel }}</p>
                            {% if carona.get_caroneiros_nomes %}
                                <div class="">
                                    {% for caroneiro in carona.get_caroneiros_nomes %}
                                        <p class="card-text"><small class="text-body-secondary">Caroneiros
                                            participando: {{ caroneiro }}</small></p>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p> Ainda não há caroneiros participando dessa carona. Seja o primeiro! </p>
                            {% endif %}
                            <p class="card-text"><span class="text-body-secondary">Deseja participar?</span>
                                <button type="button" class="btn btn-info"
                                        onclick="openCriarSolicitacao({{ carona.id }})">QUERO!
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        function openCriarSolicitacao(divId) {
            console.log(divId);
            var url = '/solicitacao/criar/1/' + divId;

            var width = 400;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            window.open(url, 'Popup', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);
        }
    </script>
{% endblock %}