{% extends 'header.html' %}
{% load static %}
{% load caroneiro_tags %}
{% block content %}
    
    <title>UNIr-se | Buscando Caroneiro </title>

    {% for caroneiro in caroneiros_disponiveis %}
        <div id="{{ caroneiro.id }}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'diogo.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Caroneiro {{ caroneiro.nome }}</h5>
                            <p class="card-text" style="margin-bottom: 0">
                                Curso: {{ caroneiro.curso }} {{ caroneiro.semestre_atual }}
                            </p>
                            <p>
                                Bairro: {{ caroneiro.endereco.bairro }}
                            </p>
                            {% if latitude != None and longitude != None %}
                                {% get_menor_distancia_cep latitude longitude caroneiro.endereco.cep as distancia%}
                                <p class="card-text"> <i class="bi bi-geo-alt"></i> O endereço do usuário é a <span style="color: {% if distancia < 1000 %} green {% else %} red{% endif %}">{{ distancia|floatformat:1 }} metros </span> de você! </p>
                            {% endif %}
                            <p class="card-text"><span class="text-body-secondary">Deseja convida-lo para sua carona ?</span>
                                <button type="button" class="btn btn-info"
                                        onclick="openCriarSolicitacao( {{caroneiro.id}} )">QUERO!
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h1> Sem caroneiros disponíveis no momento.</h1>
    {% endfor %}

    <script>
        function openCriarSolicitacao(divId) {
            console.log("div id " , divId);
            var url = '/solicitacao/criar/2/' + divId;

            console.log(url);

            var width = 400;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            window.open(url, 'Popup', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);
        }

        function getLocationAndRedirect() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    const currentUrl = window.location.href;

                    if (!currentUrl.includes('la=') || !currentUrl.includes('lo=')) {
                        const urlWithCoordinates = `${currentUrl}?la=${latitude}&lo=${longitude}`;
                        window.location.href = urlWithCoordinates;
                    }
                });
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }

        getLocationAndRedirect();
    </script>
{% endblock %}