{% extends 'header.html' %}
{% load static %}

{% block content %}

    {% for caroneiro in caroneiros_disponiveis %}
        <div id="{{ caroneiro.id }}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'diogo.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Caroneiro {{ caroneiro.nome }}</h5>
                            <p class="card-text" style="margin-bottom: 0">
                                Curso: {{ caroneiro.curso }} {{ caroneiro.semestre_atual }}
                            </p>
                            <p>
                                Bairro: {{ caroneiro.bairro }}
                            </p>
                            <p class="card-text"><span class="text-body-secondary">Deseja convida-lo para sua carona ?</span>
                                <button type="button" class="btn btn-info"
                                        onclick="openCriarSolicitacao( {{caroneiro.id}} )">QUERO!
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h1> Sem caroneiros disponíveis no momento.</h1>
    {% endfor %}

    <script>
        function openCriarSolicitacao(divId) {
            console.log("div id " , divId);
            var url = '/solicitacao/criar/2/' + divId;

            console.log(url);

            var width = 400;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            window.open(url, 'Popup', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);
        }
    </script>
{% endblock %}