{% extends 'header.html' %}
{% load static %}
{% load caronas_tags %}
{% block content %}

    {% for carona in caronas %}
        <div id="{{ carona.id }}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'diogo.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Carona de {{ carona.motorista.nome }}</h5>
                            <p class="card-text" style="margin-bottom: 0">
                                Curso: {{ carona.motorista.curso }} {{ carona.motorista.semestre_atual }}</p>
                            <p class="card-text" style="margin-bottom: 0">
                                Automóvel: {{ carona.motorista.automovel }}</p>
                            {% if carona.get_caroneiros_nomes %}
                                <div class="">
                                    <hr>
                                    <p style="margin-top: 5px" class="card-text"> Caroneiros Participando: </p>
                                    {% for caroneiro in carona.get_caroneiros_nomes %}
                                        <li><small class="text-body-secondary">
                                            {{ caroneiro }}</small>
                                        </li>
                                    {% endfor %}
                                    <hr>
                                </div>
                            {% else %}
                                <hr>
                                <p> Ainda não há caroneiros participando dessa carona. Seja o primeiro! </p>
                                <hr>
                            {% endif %}
                            {% get_distancia_saida latitude longitude carona as distancia %}
                                <p class="card-text"> <i class="bi bi-geo-alt"></i> Um dos pontos de saída do usuário está a <span style="color: {% if distancia < 1000 %} green {% else %} red{% endif %}">{{ distancia|floatformat:1 }} metros </span> de você! </p>
                            <hr>
                            <p class="card-text"><span class="text-body-secondary">Deseja participar?</span>
                                <button type="button" class="btn btn-info"
                                        onclick="openCriarSolicitacao({{ carona.id }})">QUERO!
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h2> Não há caronas registradas no momento.</h2>
    {% endfor %}

    <script>
        function openCriarSolicitacao(divId) {
            console.log(divId);
            var url = '/solicitacao/criar/1/' + divId;

            var width = 400;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            window.open(url, 'Popup', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);
        }

        function getLocationAndRedirect() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    const currentUrl = window.location.href;

                    if (!currentUrl.includes('la=') || !currentUrl.includes('lo=')) {
                        const urlWithCoordinates = `${currentUrl}?la=${latitude}&lo=${longitude}`;
                        window.location.href = urlWithCoordinates;
                    }
                });
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }

        getLocationAndRedirect();
    </script>
{% endblock %}