{% include 'base.html' %}
{% load static %}

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/"
                   class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5"><img src="{% static 'unirseeir.png' %}" alt="Logo Unirseir"
                                            style="padding-left:0; max-width: 100px; max-height: 100px;"/></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        {% if request.user.tipo_ativo == 'motorista' %}
                            <a href="{% url 'findCaroneiro' %}" class="nav-link px-sm-0 px-2">
                        {% else %}
                            <a href="{% url 'findCarona' %}" class="nav-link px-sm-0 px-2">
                        {% endif %}
                        <i class="fs-5
                                {% if request.user.tipo_ativo == 'motorista' %}
                                    bi bi-people-fill
                                {% else %}
                                    bi bi-car-front-fill
                                {% endif %}
                            ">

                        </i><span class="ms-1 d-none d-sm-inline">
                                {% if request.user.tipo_ativo == 'motorista' %}
                                    Procurar Caroneiros
                                {% else %}
                                    Procurar Carona
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'minhasCaronas' %}" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-person-raised-hand"></i><span class="ms-1 d-none d-sm-inline">Minhas Caronas</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'bancoView' %}" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-wallet2"></i><span class="ms-1 d-none d-sm-inline">Meu Saldo</span>
                        </a>
                    </li>

                    {% if request.user.tipo_ativo == 'motorista' %}
                        <a href="{% url 'meusDeslocamentos' %}" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-geo-fill"></i><span class="ms-1 d-none d-sm-inline">Meus Deslocamentos</span>
                        </a>
                    {% endif %}
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'diogo.png' %}" alt="hugenerd" width="28" height="28"
                             class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.last_name }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'minhaConta' %}">Minha Conta <i
                                class="bi-file-person-fill"> </i></a></li>
                        <li><a class="dropdown-item" href="#">Modo Noturno/Dia <i class="bi bi-moon"></i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'switchAccount' %}">Inverter para
                                {% if request.user.tipo_ativo == 'motorista' %}
                                    Caroneiro <i class="bi bi-toggle2-on"></i>
                                {% else %}
                                    Motorista <i class="bi bi-toggle2-off"></i>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair <i class="bi bi-box-arrow-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} d-flex align-items-center" role="alert">
                                    <strong>{{ message }}!</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% block content %}

                    {% endblock %}
                </div>
            </main>
            <footer class="row bg-light py-4 mt-auto">
                <div class="col ms-1">
                    Developed by: Diogo Antonio
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="https://www.github.com/Bohredd/" style="text-decoration: none" target="_blank"> <i
                            class="bi bi-github"
                            style="margin-right: 5px"> </i></a>
                    <a href="https://www.instagram.com/ehodiogo" style="text-decoration: none" target="_blank"><i
                            class="bi bi-instagram"></i> </a>
                </div>
            </footer>
        </div>
    </div>
</div>
