{% include 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home View</title>
        <style>
            .caronas, .solicitacoes, .conversas {
                border: #4ac1f7;
                border-style: dashed;
                margin: 5px;
                padding:10px;
            }

            .solicitacao, .conversa {
                border: #0000EE;
                border-style: dotted;
                margin:5px;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        Home View
        <h2> Suas Caronas </h2>
        <div class="caronas">
            Carona {{ carona.id }}
        </div>

        <h2> Suas Solicitações </h2>
        <div class="solicitacoes">
            {% for solicitacao in solicitacoes %}
                <div class="solicitacao">
                    <p> Solicitacão {{ solicitacao.id }} de {{ solicitacao.enviado_por }} enviada em {{ solicitacao.enviado_em }}</p>
                    <p> Mensagem: {{ solicitacao.mensagem }}. Visualizada? {{ solicitacao.visualizada }} Respondida? {{ solicitacao.respondida }}</p>
                </div>
            {% endfor %}
        </div>

        <h2> Suas Conversas </h2>
        <div class="conversas">
            {% for conversa in conversas %}
                <div class="conversa">
                    {{ conversa.id }}
                    {% for membro in conversa.membros.all %}
                        {{ membro.first_name }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
    </html>
{% endblock %}
